@import "tailwindcss";

@keyframes slideOutDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
.animate-slideOutDown {
  animation: slideOutDown 0.7s cubic-bezier(.4,0,.2,1) forwards;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-40px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fadeInUp {
  animation: fadeInUp 1s cubic-bezier(.4,0,.2,1) both;
}
.animate-fadeInDown {
  animation: fadeInDown 1s cubic-bezier(.4,0,.2,1) both;
}

@font-face {
  font-family: "Abuget";
  src: url("./assets/font/Abuget.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Photograph";
  src: url("./assets/font/Photograph.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paul";
  src: url("./assets/font/Paul.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@theme {
  --font-abuget: "Abuget", sans-serif;
  --font-photograph: "Photograph", sans-serif;
  --font-paul: "Paul", sans-serif;
}